# OCaml / dune
_build/
.merlin
_opam/
*.install

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~
./bin/dune
